<header>
  <div class="row">
    <div class="col-md-12">
      <div class="logo">
        <img src="/images/logo.jpg" alt="logo" class="img-responsive">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nav class="site-nav">

          <div class="site-nav-left-wrapper">  
                <a href="/">Strona Główna</a> 
            </div>
          <div class="site-nav-right-wrapper"> 
          <a href="/books">Lista Książek</a>
          <% if (!user) { %>
            <a href="/login" class="site-nav__link pull-right">Zaloguj się</a>
            <a href="/register" class="site-nav__link  pull-right">Zarejestruj się</a>

            <% } else { %>
              
              <a href="/reserved-books">Zarezerwowane książki</a>

 
                <span>Zalogowany:
                <b>
                  <%= user.username %>
                </b> 
              </span>

              <a href="/logout">Wyloguj</a>
              <% } %>
        </div>
      </nav>
    </div>
  </div>
</header>