<header>
  <div class="row">
    <div class="col-md-12">
      <div class="logo">
        <img src="/images/logo.jpg" alt="logo" class="img-responsive">
      </div>
    </div>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Strona Główna</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/events">Wydarzenia</a>
          </li>
          <li>
            <a href="/about-library">O bibliotece</a>
          </li>
          <li>
            <a href="/contact">Kontakt</a>
          </li>
          <li>
            <a href="/map">Jak dojechać</a>
          </li>
          <li>
            <a href="/books">Lista Książek</a>
          </li>
          <% if (!user) { %>
            <li>
              <a href="/login">Zaloguj się</a>
            </li>
            <li>
              <a href="/register">Zarejestruj się</a>
            </li>
            <% } else { %>
              <% if (user.role == "librarian") { %>
                <li>
                  <a href="/add-book">Dodaj</a>
                </li>
                <% }  %>
                  <li>
                    <a href="/reserved-books">Zarezerwowane książki</a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Zalogowany:
                        <b>
                          <%= user.username %>
                        </b>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="/logout">Wyloguj</a>
                  </li>
                  <% } %>

        </ul>
      </div>
    </div>
  </nav>
</header>