
  <% include partials/head.ejs %>

<body ng-app="app">
  <div class="container">

    <% include partials/header.ejs %>
      <section id="login">
        <div class="login-wrapper">

          <div class="row login">
            <div class="col-md-4 col-xs-9 col-sm-7 center-block">
              <h1>Logowanie</h1>

              <% if (error_msg.length > 0) { %>
                <div class="alert alert-danger">
                  <%= error_msg %>
                </div>
                <% } %>

                  <form name="login" class="loginFrm" action="/login" method="post" novalidate>
                    <div class="form-group" ng-class="{ 'has-error': login.username.$invalid && login.username.$touched }">
                      <label for="">Login</label>
                      <span ng-if="login.username.$touched && login.username.$error.required">Login jest wymagany</span>
                      <span ng-show="login.username.$touched && login.username.$error.maxlength">Za długi login</span>
                      <input type="text" class="form-control" ng-model="username" name="username" placeholder="Wprowadź login..." ng-required="true"
                        maxlength="20">
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': login.password.$invalid && login.password.$touched }">
                      <label for="">Hasło</label>
                      <span ng-if="login.password.$touched && login.password.$error.required">Hasło jest wymagane</span>
                      <span ng-show="login.password.$touched && login.password.$error.minlength">Za krótkie hasło</span>
                      <span ng-show="login.password.$touched && login.password.$error.maxlength">Za długie hasło</span>
                      <input type="password" class="form-control" ng-model="password" name="password" placeholder="Wprowadź hasło..." ng-required="true"
                        ng-minlength="3" maxlength="202">
                    </div>

                    <button type="submit" class="btn btn-success pull-right" ng-disabled="login.$invalid">Zaloguj się</button>
                    <p>Jeśli nie posiadasz konta przejdz do
                      <a href="/register">rejestracji</a>
                    </p>

                  </form>
            </div>
          </div>
        </div>
      </section>
  </div>



  <% include partials/footer.ejs %>
</body>

</html>