
  <% include partials/head.ejs %>

<body ng-app="app">
  <div class="container" ng-controller="ListBooksCtrl" ng-init="init()">

    <% include partials/header.ejs %>

      <main>
        <div class="row">
          <div class="col-md-12 hg-main">
            <h1>Mapa dojazdu</h1>
          </div>
        </div>

        <div class="main-wrapper">
          <div class="main-wrapper__books">
            <div id="map_div" style="height: 400px;"></div>
            <div class="row main-wrapper__item">
              <div class="col-md-12 address">
                <address>
                  <p>Rzeszów ul. Rejtana 15</p>
                  <p>35-225 Rzeszów tel.: +48 22 411 10</p>
                  <p>fax: +22 2222 222</p>
                </address>
              </div>
            </div>
          </div>
        </div>
      </main>
  </div>

  <% include partials/footer.ejs %>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false"></script>
    <script type="text/javascript" src="javascripts/map.js"></script>
    <script src="/javascripts/controllers/ListBooksController.js"></script>
</body>

</html>