
  <% include partials/head.ejs %>

<body ng-app="app">

    <div class="container">

      <% include partials/header.ejs %>
        <section id="register">
          <div class="register-wrapper">
    
            <div class="row register">
              <div class="col-md-4 col-xs-9 col-sm-7 center-block">

                <h1>Tworzenie konta</h1>
        
                    <% if (error_msg.length > 0) { %>
                      <div class="alert alert-success">
                        <%= error_msg %>
                      </div>
                      <% } %>
         
        
                <form name="register" class="registerFrm" action="/registerUser" method="post" novalidate>
                  <div class="form-group" ng-class="{ 'has-error': register.username.$invalid && register.username.$touched }">
                    <label for="">Login</label>
                    <span ng-if="register.username.$touched && register.username.$error.required">Pole jest wymagane</span>
                    <span ng-show="register.username.$touched && register.username.$error.minlength">Za krótki login</span>
                    <span ng-show="register.username.$touched && register.username.$error.maxlength">Za długi login</span>
                    <input type="text" class="form-control" ng-model="user.username" name="username" placeholder="np. jankowalski" ng-required="true"
                      ng-minlength="3" ng-maxlength="50">
                  </div>
    
                  <div class="form-group" ng-class="{ 'has-error': register.email.$invalid && register.email.$touched }">
                    <label for="">Email</label>
                    <span ng-if="register.email.$touched && register.email.$error.required">Pole jest wymagane</span>
                    <span ng-show="register.email.$touched && register.email.$error.email">Adres e-mail nie jest poprawny</span>
                    <input type="email" class="form-control" ng-model="user.email" name="email" placeholder="np. jan.kowalski@gmail.com" ng-required="true">
                  </div>
    
                  <div class="form-group" ng-class="{ 'has-error': register.password.$invalid && register.password.$touched }">
                    <label for="">Hasło</label>
                    <span ng-if="register.password.$touched && register.password.$error.required">Hasło jest wymagane</span>
                    <span ng-show="register.password.$touched && register.password.$error.minlength">Za krótkie hasło</span>
                    <span ng-show="register.password.$touched && register.password.$error.maxlength">Za długie hasło</span>
                    <input type="password" class="form-control" ng-model="user.password" name="password" placeholder="np. ********" ng-required="true"
                      ng-minlength="3" ng-maxlength="50">
                  </div>
    
                  <div class="form-group" ng-class="{ 'has-error': register.confirmPassword.$invalid && register.confirmPassword.$touched }">
                    <label for="">Powtórz hasło</label>
                    <span ng-if="register.confirmPassword.$touched && register.confirmPassword.$error.required">Hasło jest wymagane</span>
                    <span ng-show="register.confirmPassword.$touched && register.confirmPassword.$error.minlength">Za krótkie hasło</span>
                    <span ng-show="register.confirmPassword.$touched && register.confirmPassword.$error.maxlength">Za długie hasło</span>
                    <input type="password" class="form-control" ng-model="user.confirmPassword" name="confirmPassword" placeholder="np. ********"
                      ng-required="true" ng-minlength="3" ng-maxlength="50">
                  </div>
 
                  <button type="submit" class="btn btn-success pull-right" ng-disabled="register.$invalid">Zarejestruj się</button>
                </form>
 
              </div>
            </div>
          </div>
        </section>
      </div>
    
      <% include partials/footer.ejs %>
        </body>
    
        </html>