
  <% include partials/head.ejs %>

<body ng-app="app" ng-controller="reservationBookCtrl" ng-init="init('<%= JSON.stringify(book) %>')">
  <div class="container">

    <% include partials/header.ejs %>
      <main>

        <div class="reservation-wrapper">
          <div class="reservation-wrapper__books">

            <div class="row">
              <div class="col-md-4 center-block">

                <form name="reservationBookFrm" novalidate class="reservation-form">
                  <span>Tytuł rezerwowanej książki:
                    <b>
                      <%= title %>
                    </b>
                  </span>
                  <span>Ilość:
                    <b>{{book.quantity}} </b>
                  </span>

                  <div class="form-group" ng-class="{ 'has-error': reservationBookFrm.firstname.$invalid && reservationBookFrm.firstname.$touched }">
                    <label for="">Imię</label>
                    <span ng-if="reservationBookFrm.firstname.$touched && reservationBookFrm.firstname.$error.required">Pole jest wymagane</span>
                    <span ng-show="reservationBookFrm.firstname.$touched && reservationBookFrm.firstname.$error.minlength">Za krótkie imię</span>
                    <span ng-show="reservationBookFrm.firstname.$touched && reservationBookFrm.firstname.$error.maxlength">Za długie imię</span>
                    <input type="text" class="form-control" name="firstname" ng-model="reservation.firstname" ng-required="true" ng-minlength="2"
                      ng-maxlength="202">
                  </div>

                  <div class="form-group" ng-class="{ 'has-error': reservationBookFrm.surname.$invalid && reservationBookFrm.surname.$touched }">
                    <label for="">Nazwisko</label>
                    <span ng-if="reservationBookFrm.surname.$touched && reservationBookFrm.surname.$error.required">Pole jest wymagane</span>
                    <span ng-show="reservationBookFrm.surname.$touched && reservationBookFrm.surname.$error.minlength">Za krótkie nazwisko</span>
                    <span ng-show="reservationBookFrm.surname.$touched && reservationBookFrm.surname.$error.maxlength">Za długie nazwisko</span>
                    <input type="text" class="form-control" name="surname" ng-model="reservation.surname" ng-required="true" ng-minlength="2"
                      ng-maxlength="202">
                  </div>

                  <div class="form-group" ng-class="{ 'has-error': reservationBookFrm.address.$invalid && reservationBookFrm.address.$touched }">
                    <label for="">Adres</label>
                    <span ng-if="reservationBookFrm.address.$touched && reservationBookFrm.address.$error.required">Pole jest wymagane</span>
                    <span ng-show="reservationBookFrm.address.$touched && reservationBookFrm.address.$error.minlength">Za krótki adres</span>
                    <span ng-show="reservationBookFrm.address.$touched && reservationBookFrm.address.$error.maxlength">Za długi adres</span>
                    <textarea name="address" cols="4" rows="3" class="form-control" ng-model="reservation.address" ng-required="true" ng-minlength="2"
                      ng-maxlength="202"></textarea>
                  </div>

                  <button class="btn btn-info" ng-click="reservationBook(reservation)" ng-disabled="reservationBookFrm.$invalid">Zarezerwuj</button>  <span class="info">{{info}}</span>

                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
  </div>



  <% include partials/footer.ejs %>

    <script src="/javascripts/controllers/reservationBookController.js"></script>
</body>

</html>