.main-wrapper {
  &__item {
    margin-bottom: 55px;
  }

  &__books {
    padding: 10px;
  }

  &__description {   
    min-height: 100px;
    
  max-width: 100%; 

  a { 
    margin-top: 10px;
    width: 90px;
  }
  }

  // &__image {
  //   display: flex;
  //   justify-content: center;
  //   max-width: 250px;
  // }

}

.aboutUs-wrapper {
  padding: 50px;
  margin-bottom: 20px;
}

.hg-center {
  text-align: center;
}

.hg-main {
  padding: 15px 0;
}

.aboutUs-hg {
  padding: 15px;
}

.col-md-10 {
  
  word-wrap: break-word;
}