.main-wrapper {
  &__books {  
    padding: 10px;
  } 

  &__description { 
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  // &__image {
  //   display: flex;
  //   justify-content: center;
  //   max-width: 250px;
  // }


}

.aboutUs-wrapper {
  padding: 50px;
  margin-bottom: 50px;
}

.hg-center {
  text-align: center;
}

.hg-main {
  padding: 15px 0;
}

.aboutUs-hg {
  padding: 15px;
}