.reservation-wrapper {
  &__books {
    padding: 20px;
  }

  margin-bottom: 205px;
}

.reservation-form {
  span:first-child {
    display: block;
  } 

  .form-group {
    margin-top: 15px;
  }
  textarea {
    max-width: 100%;
  }
}