.footer-wrapper {
    background-color: rgb(167, 116, 21);
    width: 100%;
    padding: 20px;
    span {
        display: block;
        text-align: center;
        margin-bottom: 5px;

    }
}

.footer__item {
    padding: 10px;
}