 

.logo {
  min-height: 300px;

  img {
    height: 300px;
    width: 100%;
    background-position: center;
  }
}
 

.nav {
  li {
    a {
      
  font-size: 13px !important;
    }
  }
}